// Stylus theme file for header components
// ---------------------------------------------------------

headerBackground = #c6097d;
headerFontFamily = Arial, Helvetica, sans-serif;
headerColour = #ffffff;