// Stylus theme file for UI components
// ---------------------------------------------------------

// General UI  
uiFontFamily = Arial, Helvetica, sans-serif;


// Header
headerBackground = #b70974;
headerFontFamily = Arial, Helvetica, sans-serif;
headerColour = #ffffff;



// Nav Components
navBackground = #a50668;
navLinkActiveColor = #ffffff;
navColor = #ffffff;


// Buttons
buttonFontFamily = Arial, Helvetica, sans-serif;
buttonBorder = 0.1rem solid #f8cee7;
buttonBackgroundTransition = background 0.25s ease;

buttonBackground = #cb166e;
buttonBackgroundHighlight = #d157a2;
buttonColor = #ffffff;
buttonColorHighlight = #ffffff;
