.animated-button .fade-button {
    text-decoration: none;
    font-size: 1em;
    padding: .5em 1em;
    border-radius: 1em;
    border: solid #ffffff;
    color: #000000
}

.animated-button .fade-button:hover,
.animated-button .fade-button:focus {
    background: blue;
    color: #ffffff;
}

.animated-button .fade-button:after {
    background: blue;
    color: #ffffff;
}