@import '~@/assets/mixins/minWidth.styl'

/* fix for margin boosting */
#navside-container {
  display:inline-block;
  overflow: hidden;

  /* fix for pop in */
  #navside-wrapper {
    max-width: 0; 
  }
  
  @media minWidthDesktopMixin {
    #navside-wrapper {
      max-width: 100%;
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
}

#navside-wrapper {
  display:inline-block;
  overflow: hidden;
  flex: 1;
  height: 100%;
  background: #a50668;
  .nav-link {
    text-decoration: none;
    display: block;
    font-weight: bold;
    color: #ffffff;
    font-size: 1rem;
    padding-top: .8rem; 
    &.router-link-active {
      color: #a2a3d9;
    }
  }
}
