// Stylus theme file for UI components
// ---------------------------------------------------------

buttonFontFamily = Arial, Helvetica, sans-serif;
buttonBorder = solid #ffffff;
buttonBackgroundTransition = background 0.2s ease;

buttonBackground = #c6097d;
buttonBackgroundHighlight = #d157a2;
buttonColor = #ffffff;
buttonColorHighlight = #ffffff;
