@import '~@/util/config.styl'

minWidthDesktopMixin = unquote("screen and (min-width:" + minWidthDesktop + "px)")
minWidthMiniMixin = unquote("screen and (min-width:" + minWidthMini + "px)")
minWidthMobileMixin = unquote("screen and (min-width:" + minWidthMobile + "px)")