// Stylus file for global colour definitions
// ---------------------------------------------------------

headerBackground = red
contentBackground = grey
pageBackground = grey
footerBackground = red

buttonHighlight = red
