// Stylus theme file for page components
// ---------------------------------------------------------

pageBackground = #ffffff;
pageColour = #ffffff;
pageBorder = 1.5rem solid rgba(0,0,0,0);
itemBorder =  1.5rem solid rgba(0,0,0,0);

pageShadow = 0rem 0rem .5rem .1rem rgb(190, 190, 190, .7);