// Main application Stylus file.
// ---------------------------------------------------------

/* fix for font boosting */
html * {
  max-height:100%;
}

body {
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: rgba(245,245,245,0.3);
}

::-webkit-scrollbar {
	background-color: #F5F5F5;
	width: 12px;
	height: 12px;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(247,130,52,1);
}

#app {
  box-sizing: border-box;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #222;
  display:flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;
}

.center {
  text-align: center;  
}

.bold {
  font-weight: bold;
}

.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  transition-duration: 0.5s;
  transition-property: height, opacity, transform;
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  overflow: hidden;
}

.slide-left-enter,
.slide-right-leave-active {
  background: #000;
  opacity: 0;
  transform: translate(2em, 0);
}

.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  transform: translate(-2em, 0);
}

.animated-button {
	cursor: pointer;
}
