// Stylus file for application fonts
// ---------------------------------------------------------

@font-face {
  font-family: Nautilus; 
  src: url('~@/assets/fonts/Nautilus/Nautilus-Regular.ttf') format("truetype");
}

@font-face {
  font-family: Nautilus; 
  src: url('~@/assets/fonts/Nautilus/Nautilus-Bold.ttf') format("truetype"); 
  font-weight: bold;
}

@font-face { 
  font-family: Nautilus; 
  src: url('~@/assets/fonts/Nautilus//Nautilus-Italic.ttf') format("truetype");
  font-style: italic;
}

@font-face {
  font-family: Nautilus; 
  src: url('~@/assets/fonts/Nautilus/Nautilus-Bold-Italic.ttf') format("truetype");
  font-weight: bold; font-style: italic;
}