// Stylus file for main nuxt page
// ---------------------------------------------------------

@import '~@/assets/fonts/Nautilus/Nautilus.styl'

#page {

	p {
		margin: .2rem .4rem;
		font-family:Nautilus;
		font-size: 1.5rem;
		color: #5E5E5E;	
	}

	a {
		font-weight:bold;
	}

	b {
		font-weight:bold;
	}

	ul {
		color: #5E5E5E;
		font-family:Nautilus;
		font-size: 1.5rem;
		margin-left: .25rem;
	}

	li {
		display: list-item;
		padding: .1rem .2rem;
	}

	br {
		clear:both;
	}

}
