// Stylus file for main nuxt page
// ---------------------------------------------------------

@import '~@/assets/fonts/Nautilus/Nautilus.styl'

#page {

	p {
		margin: 10px 40px;
		font-family:Nautilus;
		font-size: 24px;
		color: #5E5E5E;	
	}

	a {
		font-weight:bold;
	}

	b {
		font-weight:bold;
	}

	ul {
		color: #5E5E5E;
		font-family:Nautilus;
		font-size: 24px;
		margin-left:80px;
	}

	li {
		display: list-item;
		padding: 0 6px;
	}

	br {
		clear:both;
	}

}
