// Stylus theme file for nuxt page content
// ---------------------------------------------------------

@import '~@/assets/fonts/Nautilus/Nautilus.styl'

pFontFamily = Nautilus, Helvetica, sans-serif;
pColor = #5e5e5e;