// Stylus file for nuxt page content
// ---------------------------------------------------------

@import '~@/assets/styles/themes/nuxt.styl'

#page {

	p {
		margin: .2rem .4rem;
		font-family: pFontFamily;
		font-size: 1.5rem;
		color: pColor;	
	}

	a {
		font-weight: bold;
	}

	b {
		font-weight: bold;
	}

	ul {
		font-family: Nautilus;
		font-size: 1.5rem;
		margin-left: .25rem;
	}

	li {
		display: list-item;
		padding: .1rem .2rem;
	}

	br {
		clear: both;
	}

}
