// Stylus file for page element
// ---------------------------------------------------------

@import '~@/assets/styles/themes/page.styl'

#page-container {
  flex: 1;
  overflow-x: hidden;
  box-shadow: inset pageShadow;
  background: containerBackground;

  #page {
    color: pageColor;

    > * {
      background: pageBackground;
      border: pageBorder;
      box-shadow: pageShadow;
      margin: 1.25rem .75rem;
      overflow-x: auto;
      > * {
        border: itemBorder;
        overflow-x: visible;
      }
    }

    /* margin merge hotfix */
    &:after {
      content: '\0000';
      visibility: hidden;
    }
  }
}
